.detail-block .status-tag{
    font-size: 22px;
    color: #333333;
}
.detail-block .status-tag span{
    font-size:20px;
}
.detail-block .status-tag span.cancell-by{
    font-size: 16px;
    margin-left: 10px;
    font-weight: 300;
}