.feedback-header{
    background-color: #0DC1F9;
}
.feedback-header h3{
    font-size: 28px;
    line-height: 1.1;
}
.feedback-body{
    border: 1px solid #DEDEDE;
    border-top: 0px;
}
.detail-block h4{
    font-size: 27px;
    line-height: 1;
}
.repo-status{
    font-size: 22px;
    color: #333333;
}
.repo-status span{
    font-size:20px;
    color: #ff0000;
}
@media(max-width:1199px){
    .feedback-header h3 {
        font-size: 26px;
    }
}

@media (max-width: 767px){
    .feedback-header h3 {
        font-size: 24px;
    }
}