.statsCard {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem 2.5rem;
    align-items: center;
    
}
.dashboard-stats{
    background-color: #fff;
    border-radius: 7px;
}


.statsContent {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
}

.statsImg {
    flex-shrink: 0;
}

.statsImg img {
    width: 166px;
    /* aspect-ratio: 1/1; */
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.statsData {
    flex-grow: 1;
}

.statsNumber {
    font-size: 35px;
    font-weight: 900;
    margin: 0;
    color: #000;
    line-height: 1;
}

.statsText {
    font-size: 19px;
    color: #000;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
}

.statsChange {
    flex-shrink: 0;
    line-height: 1;
    margin-left: 10px;
}
.statsChange p{
    line-height: 1;
}

.arrow-icon{
    color: #00AD5B;
    font-size: 25px;
}
.greenColor{
    color: #42C900;
}
@media screen and (max-width:767px) {
    .statsCard-border {
        border-bottom: 2px solid #E1E1E1;
        border-right: 0 !important;
    }
    
}