.authBg {
    background: url('../../../assets/images/auth-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.authBg.mentor-mentee{
    min-height:calc(100vh - 114px);
    padding: 50px 0;
}
.authBox {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #003449;
    box-shadow: 0 0 20px 6px #3e396b0d, 0 2px 9px #3e396b0d;
}
.authImage{
    /* background-image: url(/all-parcel-shipping/src/assets/images/authImage.png); */
    background-color: #003449;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.authImage img {
    width: 95%;
    max-width: 100%;
    border-radius: 0px  8px 8px 0px;
    margin-left: -13px;
}
.authImage:after{
    content: "";
    position: absolute;
    right: -40px;
    bottom: -10px;
    background-image: url(../../../assets/images/signup-monkey-box.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
}
.ment-mentee-img.authImage img {
    height: 100%;
    object-fit: cover;
    object-position:center;
}
.authFormWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.authForm.signup{
    padding: 30px 50px;
}
.authForm {
    border-radius: 0px;
    width: 100%;
    /* max-width: 480px; */
    padding: 70px 50px;
}

.authLogo {
    margin-bottom: 2rem;
    text-align: left;
}

.authLogo img {
    width: 130px;
    max-width: 100%;
}

.authFormHeader {
    text-align: left;
    margin: 2rem 0;
}
.authFormHeader h1{
    font-size: 45px;
    font-weight: 500;
}

.authTitle {
    font-size: 28px;
    font-weight: 700;
    color: var( --blackColor);
}
.authPara {
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    line-height: 1.5;
}
.already-acount{
    color: #666666;
    
}

.notiDropdown.dropdown .dropdown-toggle,
.userDropdown.dropdown .dropdown-toggle{
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: #003449;
    display: block;
    padding: 0px 0 7px 0px;
    margin: 0 5px;
    font-size: 21px;
}
.notiDropdown.dropdown .dropdown-toggle .rounded-circle{
    width: 20px;
    border-radius: 50% !important;
    height: 20px;
    font-size: 13px;
    color: #fff;
    background-color: #00AD5B;
}
.userDropdown.dropdown .dropdown-toggle::after{
    margin-top:10px ;
}




.notiDropdown .dropdown-menu,
.userDropdown .dropdown-menu {
    border: 1px solid #00AD5B !important;
    min-width: 17rem;
    background: var(--bs-white);
    border-radius: 7px !important;
}
.userDropdown .dropdown-menu{
    min-width: 14rem;
}
.notiDropdown .dropdown-menu {
    min-width: 20rem;
    border: none !important;
}
.notiDropdown .dropdown-item{
    padding: 15px 10px;
    border-bottom: 1px solid #e3e3e3;
}
.notiDropdown .mediaLeft{
    margin-right: 15px;
}
.notiDropdown .mediaLeft svg{
    background-color: #949494;
    color: #fff;
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;   
}
.notiDropdown .btn-read{
    padding: 0 10px;
    color: #949494;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
}
.notiDropdown .markUnread h6{
    color: #00AD5B;
}
.notiDropdown .markUnread p{
    color: #00AD5B;
}
.notiDropdown .markUnread .meta p{
    color: #00AD5B;
}
.notiDropdown .markUnread .mediaLeft svg{
    background-color: #00AD5B;
}
.notiDropdown .markUnread .btn-read{
     color:#00AD5B;
}

.notiDropdown h6{
    color:#949494;
    font-weight: 700;
    margin-bottom: 0px;
}
.notiDropdown .notificationText{
    color:#949494;
    text-transform: none;
    font-size: 15px;
    line-height: 1.1;
    font-weight: 400;
    white-space: break-spaces;
}
.notiDropdown .meta p{
    line-height: normal;
    font-size: 14px;
    margin-top: 10px;
    color: #949494;
}

.header__nav .menu-toggle{
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003449;
    border: none;
    font-size: 22px;
}
.login-nav li{
    margin-right: 0;
}
/* offcanvas css start */
.offcanvas-title h2{
    display: none;
}
.off-convas-header li{
    padding: 15px 0;
}
.off-convas-header a {
    text-decoration: none;
    color: #00AD5B;
    font-size: 20px;
    font-weight: bold;
}
.off-convas-header .SearchBtn {
    color: #000000;
}
.off-convas-header .offcanvas-header {
    color: #000000;
    font-weight: bold;
}
.off-convas-header .offcanvas-header .btn-close {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300AD5B'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") no-repeat 50% 50% / 13px 13px;
    padding: 10px;
    opacity: 1;
}
.close_off_canvas {
    position: absolute;
    right: 17px;
    font-size: 25px;
    color: #fff;
    display: inline-block;
}
/* offcanvas css end */

.quick-quote__from-input{
    padding: 20px 20px;
}

.quick-quote__from-input .ReactFlagsSelect-module_flagsSelect__2pfa2{
    padding-bottom: 0;
}
.quick-quote__from-input .ReactFlagsSelect-module_selectBtn__19wW7{
    border: none;
}
.quick-quote__from-input label{
    padding: 0 0px;
}

.quick-quote__from-input .ReactFlagsSelect-module_selectOptionsWithSearch__1W03w{
    max-height: 240px;
}
.quick-quote__from-input input[type="number"]{
    border: none;
    padding: 5px 0;
}
.quick-quote__window .btn-primary{
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, rgba(255, 255, 255, 0)), color-stop(98%, rgba(0, 0, 0, .2)));
        background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 3%, rgba(0, 0, 0, .2) 98%);
}
.quick-quote__window .btn-primary:hover{
    background-color: #00AD5B;
    color: #fff;
}


@media(max-width:1199px){
    .authForm{
        padding: 30px 40px;
    }
}
@media(max-width:1399px){
    .authImage{
        text-align: center;
    }
    .authImage img{
        width: 100%;
    }
}
@media screen and (max-width:1024px) {
    .quick-quote--show-form-for-mobile .quick-quote__window {
        background-color: #fff;
        padding: 10px 30px;
    }
    .grid-item.border-end{
        border-right: none !important;
    }
    .quick-quote__from-input .ReactFlagsSelect-module_selectBtn__19wW7{
        border:1px solid #dee2e6 ;
    }
    .quick-quote__from-input input[type="number"]{
        border:1px solid #dee2e6 ;
        padding: 10px 15px;
    }
    .quick-quote__window .grid .grid-item{
        margin-bottom: 0px !important;
    }
}
@media(max-width:991px){
    .notiDropdown .dropdown-menu, .userDropdown .dropdown-menu{
        position: absolute;
    }
}
@media(max-width:767px){
    .quick-quote--show-form-for-mobile .quick-quote__window{
        padding: 10px 15px;
    }
    .quick-quote__window .btn-primary{
        width: 100%;
    }
}


@media only screen and (max-width: 575px){
    .authFormHeader h1{
        font-size: 35px;
    }
    .authForm {
        padding: 2rem 1rem;
    }
    .header__nav .header__login,
    .header__nav .header__signup{
        padding-left: 1rem;
        padding-right:1rem;
    }
    .quick-quote__header{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 480px){
    .site-logo {
        width: 100px !important;
        object-fit: contain;
    }
    .login-nav{
        display: none;
    }
}
@media screen and (max-width: 375px){
   
}