.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  svg.svg-inline--fa.fa-eye {
    /* font-size: 20px; */
  }
svg.svg-inline--fa.fa-pen-to-square {
    font-size: 20px;
}
  .switch input {
    display: none;
  }
  .slider-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--secondary-color);
    bottom: 0;
    background-color: #fff;
    transition: 0.4s;
  }
  .slider-btn:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--secondary-color);
    transition: 0.4s;
    border-radius: 50%;
    }
  input:checked + .slider-btn  {
    border: 1px solid var(--primary-color);
  }
  input:checked + .slider-btn:before {
    background-color: var(--primary-color);
    transform: translateX(26px);
  }
  .round {
    border-radius: 34px;
  }