.detail_title {
    border-bottom: 1px solid var(--secondary-color);
    margin: 0;
    padding: 0 0 1rem 0;
}
.profile_img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 99px;
    outline: 2px solid #BCBCBC;
    padding: 5px;
}
@media screen and (max-width: 575px) {
    .profile_img {
        width: 80px;
        height: 80px;
    }
}